.labelDescription {
    font-weight: bold;
   padding-left: 50px;
}
.inputTxt {
    display: inline;
    width: 600px;
    background-color: #ffffff;
    color: black;
    height: 30px;
    box-shadow: 15px  15px 15px 15px #efefef;
    display: inline;
}

.contactMessage {
    margin: 35px;
    font-weight: bold;
    font-size: 20px;
}

#contact-form {
   
    margin: 10px;
    padding: 5px;
}

.formMessageButton, .formMessageButton:focus {
    background-color: black;
    border: 1px solid black;
    height: 40px;
    margin-top: 20px;
    border: black;

}

.formMessageButton:hover {
    box-shadow: none;
    height: 40px;
    background-color: green;
    border-color: green;
  
}

.staffName {
    margin-top: none;
}

.divStaff {
    height: 100px;
}

.delim {
    margin-top: 50px;
    border: 1px solid black;
    height: 10px;
    background-color: black;
}

.contactUs {
    margin-top: 20px;
}

.ourTeam {
    margin-top: 20px;
}