.getSocial {
    background-color: black;
    color: white;
    height: 320px;
    padding-top: 20px;
    font-weight: bold;
    border-top: 2px solid white ;
}
.container-footer {
    background-color: black;
    padding-top: 20px;
    height: 200px;
    border-top:2px solid rgb(255, 255, 255);
    color: white;
}

.footerLogoImage {
    display: block;
    height: 270px;
    margin-left: 40%;   
}

.locationLogoImage {
    height: 60px;
    width: 70px;
   
    
    
}

.messageLogoImage {
    height: 70px;
    width: 70px;
}

.phoneLogoImage {
    height: 60px;
    width: 70px;
}

